.android-compact {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-compact .div {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 412px;
  height: 917px;
  position: relative;
}

.android-compact .image {
  position: absolute;
  width: 358px;
  height: 96px;
  top: 19px;
  left: 27px;
  object-fit: cover;
}

.android-compact .text-wrapper {
  position: absolute;
  top: 138px;
  left: 65px;
  font-family: "Nico Moji-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .FULL-NAME-GENDER-AGE {
  position: absolute;
  top: 222px;
  left: 19px;
  font-family: "NATS-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .overlap {
  position: absolute;
  width: 246px;
  height: 125px;
  top: 778px;
  left: 83px;
}

.android-compact .CONTACT-US {
  position: absolute;
  width: 172px;
  top: 41px;
  left: 37px;
  font-family: "NATS-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .span {
  color: #000000;
}

.android-compact .text-wrapper-2 {
  color: #e3070a;
}

.android-compact .rectangle {
  width: 246px;
  height: 58px;
  top: 0;
  left: 0;
  background-color: #f44013;
  position: absolute;
  border-radius: 19px;
}

.android-compact .text-wrapper-3 {
  position: absolute;
  top: 2px;
  left: 44px;
  font-family: "NATS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .rectangle-2 {
  width: 211px;
  height: 23px;
  top: 238px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .rectangle-3 {
  width: 211px;
  height: 23px;
  top: 300px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .rectangle-4 {
  width: 211px;
  height: 23px;
  top: 347px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .rectangle-5 {
  width: 211px;
  height: 23px;
  top: 396px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .rectangle-6 {
  width: 211px;
  height: 23px;
  top: 453px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .rectangle-7 {
  width: 211px;
  height: 23px;
  top: 498px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .rectangle-8 {
  width: 211px;
  height: 23px;
  top: 549px;
  left: 174px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 19px;
}

.android-compact .text-wrapper-4 {
  position: absolute;
  top: 607px;
  left: 114px;
  font-family: "NATS-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .download {
  width: 101px;
  left: 63px;
  position: absolute;
  height: 67px;
  top: 662px;
  object-fit: cover;
}

.android-compact .overlap-group {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 684px;
  left: 27px;
  background-color: #ffffff;
  border-radius: 11.5px;
}

.android-compact .ellipse {
  position: relative;
  width: 10px;
  height: 10px;
  top: 7px;
  left: 7px;
  background-color: #000000;
  border-radius: 5px;
}

.android-compact .img {
  width: 121px;
  left: 264px;
  position: absolute;
  height: 67px;
  top: 662px;
  object-fit: cover;
}

.android-compact .ellipse-2 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 684px;
  left: 229px;
  background-color: #ffffff;
  border-radius: 11.5px;
}
